<!DOCTYPE html>
<html>

<head>

    <title>Cloud Mini Project</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="main-container">

    <h1>☁ Cloud Based Mini Project</h1>

    <div class="menu">

        <a href="/prime">
            <button>Prime Checker</button>
        </a>

        <a href="/digitsum">
            <button>Digit Sum</button>
        </a>

        <a href="/vowels">
            <button>Vowel Counter</button>
        </a>

        <a href="/squares">
            <button>Squares & Cubes</button>
        </a>

    </div>

</div>

</body>

</html>