<!DOCTYPE html>
<html>

<head>

<title>Cloud Mini Project</title>

<style>

body{
    background:#0D0D0D;
    color:white;
    font-family:Arial;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    text-align:center;
}

h1{
    color:#22D3EE;
    margin-bottom:40px;
}

button{
    padding:15px 25px;
    margin:10px;
    border:none;
    border-radius:10px;
    background:#22D3EE;
    color:black;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#0ea5c6;
}

a{
    text-decoration:none;
}

</style>

</head>

<body>

<div class="container">

<h1>☁ Cloud Based Mini Project</h1>

<a href="/prime">
<button>Prime Checker</button>
</a>

<a href="/digitsum">
<button>Digit Sum</button>
</a>

<a href="/vowels">
<button>Vowel Counter</button>
</a>

<a href="/squares">
<button>Squares & Cubes</button>
</a>

</div>

</body>

</html>